.add-post-container
  display: flex
  padding: 16px
  .thumbnail
    width: 100px
    height: 100px
    margin-right: 8px
    border-radius: 4px
    background: #eee
    object-fit: cover
  textarea
    padding: 8px
    outline: none
    border: none
    background: transparent