.instagram-card {
  display: flex;
  flex-direction: column;

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 40px 0 8px;
    box-shadow: 0 1px 1px 0 rgba(#000, 0.1),0 -1px 1px 0 rgba(#000, 0.1);
    flex: 0 0 auto;
    z-index: 1;

    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      width: 42px;

      img {
        width: 32px;
        height: 32px;
        border-radius: 32px;
      }
    }

    a {
      font-size: 14px;
      font-weight: 600;
      color: #262626;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 4px;
      cursor: pointer;
      line-height: 18px;
      text-decoration: none;
    }

    .menu {
      position: absolute;
      right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      cursor: pointer;

      .icon {
        transform: scale(0.7);
        background-size: 411px 393px;
        background-position: -175px -319px;
        background-image: url("resources.png");
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
      }
    }
  }

  .card-image {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    min-height: 100px;

    img {
      margin: 0;
      width: 100%;
      height: auto;
      padding: 0;
    }
    span {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      background: rgba(#fff, 1);
      font-size: 18px;
      font-weight: 600;
      color: #000;
      border-radius: 64px;
    }
  }

  .card-actions {
    flex: 0 0 auto;
    display: flex;
    height: 40px;
    padding: 0 8px;

    .like {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;


      @keyframes like-pop-animation {
        0% {
          transform: scale(0.9);
        }
        100% {
          transform: scale(0.7);
        }
      }


      @keyframes like-pop-reverse-animation {
        0% {
          transform: scale(0.7);
        }
        100% {
          transform: scale(0.9);
        }
      }


      .icon {
        transform: scale(0.7);
        background-size: 411px 393px;
        background-position: -275px -294px;
        background-image: url("resources.png");
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
      }

      &[data-active="true"] {
        .icon {
          animation: like-pop-animation linear 0.2s;
          background-size: 411px 393px;
          background-position: -250px -294px;
        }
      }

      &[data-active="false"] {
        .icon {
          animation: like-pop-reverse-animation linear 0.1s;
        }
      }
    }

    .comment {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;

      .icon {
        transform: scale(0.7);
        background-size: 411px 393px;
        background-position: -301px -254px;
        background-image: url("resources.png");
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
      }
    }

    .save {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin-left: auto;

      .icon {
        transform: scale(0.7);
        background-size: 411px 393px;
        background-position: -25px -344px;
        background-image: url("resources.png");
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
      }

      &[data-active="true"] {
        .icon {
          background-size: 411px 393px;
          background-position: -350px -319px;
        }
      }
    }
  }

  a.likes-count {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #262626;
    padding: 0 16px;
    height: 20px;
    line-height: 14px;
    text-decoration: none;
  }

  a.all-comments {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #a7b3b3;
    padding: 0 16px;
    height: 20px;
    line-height: 14px;
    text-decoration: none;
  }

  label.comment {
    flex: 0 0 auto;
    padding: 0 16px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
    a {
      text-decoration: none;
      color: #262626;
      font-weight: 600;
      padding-right: 4px;
    }
    span {
      color: #414141;
      font-weight: 400;
    }
  }

  .created-date {
    flex: 0 0 auto;
    padding: 0 16px;
    text-transform: uppercase;
    color: #a7b3b3;
    margin: 8px 0;
    font-size: 10px;
  }
}
