.instagram-status-bar {
  display: flex;
  align-items: center;
  height: 44px;
  box-shadow: 0 1px 1px 0 rgba(#000, 0.1);
  background: #fff;
  padding: 0 8px;

  .status-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img {
      width: 100px;
      height: 26px;
      object-fit: contain;
      margin-top: 4px;
    }
  }
  .status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    img {
      object-fit: contain;
      width: 16px;
      height: 16px;
    }
  }
}